/* reset file */
@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");

/*************************
        Global styles
**************************/
body,
html,
div,
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*************************
        Global class
**************************/

.fc {
  /*center child*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************************
        Uploader
***************************/
.uploader-wrapper {
  width: 100vw;
  height: 100vh;
}
.uploader-wrapper #uploadImageForm {
  border: 3px dotted black;
  width: clamp(0px, 80%, 900px);
  height: clamp(0px, 80%, 500px);
  flex-direction: column;
  gap: 2rem;
  transition: all 0.1s;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
}
.uploader-wrapper #uploadImageForm.highlight {
  background-color: #eee;
}

.uploader-wrapper #inputUpload {
  display: none;
}
.uploader-wrapper *[for] {
  background-color: rgba(255, 0, 0, 0.4);
  color: white;

  cursor: pointer;
  padding: 1.2rem 1rem;
  border-radius: 5px;
  transition: all 0.2s;
}
.uploader-wrapper *[for]:hover {
  transform: scale(1.05);
  color: rgb(64, 64, 64);
}

main.upload .uploader-wrapper {
  display: flex !important;
}
main.upload .filter-wrapper {
  display: none !important;
}
main.filter .uploader-wrapper {
  display: none !important;
}
main.filter .filter-wrapper {
  display: flex !important;
}

/**************************
          filters
***************************/
.filter-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.filter-wrapper .filter_list-container {
  background: linear-gradient(0deg, black, rgb(70, 70, 70));
  height: max-content;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
.filter-wrapper .filter-title {
  font-weight: bolder;
  padding-left: 1rem;
}
.filter-wrapper .filters-list {
  display: flex;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  gap: 1rem 0.8rem;
}
.filter-wrapper .filters-list .filter-item {
  overflow: hidden;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.2rem;
  transition: all 0.2s;
  user-select: none;
}
.filter-wrapper .filters-list .filter-item img {
  height: 70% !important;
}

.filter-wrapper .filters-list .filter-item:hover {
  background-color: rgb(20, 128, 244);
}
.filter-wrapper .filters-list .filter-item:hover p {
  color: white;
}
.filter-wrapper .image-container {
  overflow: hidden;
  background: url("../images/background.jpg");
  padding: 2rem;
  flex-grow: 1;
  order: -1;
}
.filter-wrapper .image-container img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 2rem;
}

.filter-wrapper .filter_controller-container {
  position: fixed;
  padding: 1rem;
  background: linear-gradient(180deg, rgb(14, 11, 30), rgba(0, 0, 0, 1));
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 150%);
  transition: all 0.3s;
  color: white;
}
.filter-wrapper .filter_controller-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
}
.filter-wrapper .filter_controller-container .close-controller {
  cursor: pointer;
}
.filter-wrapper .filter_controller-container .close-controller svg {
  fill: white !important;
}
.filter-wrapper .filter_controller-container .close-controller:hover svg {
  fill: red !important;
}
.filter-wrapper .filter_controller-container .list-controller {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.filter-wrapper .filter_controller-container .input-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.filter-wrapper .filter_controller-container .label-controller {
  flex-basis: 10%;
}
.filter-wrapper .filter_controller-container .range-controller {
  flex-grow: 1;
}

.filter-wrapper .filter_controller-container.show {
  transform: translate(-50%, 0);
}
.filter-wrapper .filter_controller-container.hide {
  transform: translate(-50%, 150%);
}

@media (min-width: 768px) {
  .filter-wrapper {
    flex-direction: row;
  }
  .filter-wrapper .filter_list-container {
    height: 100%;
    flex-basis: min(30%, 320px);
  }
  .filter-wrapper .filters-list {
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    overflow-y: auto;
  }
  .filter-wrapper .image-container {
    flex-basis: auto;
    flex-grow: 1;
    order: initial;
  }
  .filter-wrapper .filter_controller-container {
    left: 0;
    width: min(320px, 30vw);
  }
  .filter-wrapper .filter_controller-container .list-controller {
    gap: 3rem;
  }

  .filter-wrapper .filter_controller-container .input-container {
    flex-direction: column;
  }
  .filter-wrapper .filter_controller-container.show {
    transform: translate(0, 0);
  }
  .filter-wrapper .filter_controller-container.hide {
    transform: translate(0%, 150%);
  }
}
